*{
  margin: 0;
  padding: 0;
}

body{
  background: url('pic/bgpb.jpg') repeat fixed 100%;
  background-size: cover;
}

form{
  padding-left: 360px;
  padding-top: 2px;
  background-color: blue;
  margin-left: 350px;
  margin-right: 410px;
}

.social-icons{
  margin-left: -360px;
  margin-right: 460px;
  text-align: left;
  background: grey;
  border-radius: 0px 0px 20px 0px;
  margin-bottom: 10px;
}
.social-icons img{
  width: 30px;
  margin: 0 2px;
  margin-bottom: 2px;
  box-shadow: 0 0 20px 0 #7f7f7f3d;
  cursor: pointer;
  border-radius: 50%;

}
.Banner img{
  width: 600px;
  height: 200px;
  margin-left: 350px;
}

.navbar {
  width: 600px;
  height: 60px;
  background-color: grey;
  margin-left: 350px;
}

.navbar ul{
  float: left;
}

.navbar ul li{
  float: left;
  list-style: none;
  position: relative;
}

.navbar ul li:hover{
  background-color: blue;
}

.navbar ul li a {
  display: block;
  font-family: arial;
  color: white;
  font-size: 14px;
  padding: 22px 14px;
  text-decoration: none;
}

.navbar ul li ul {
  display: none;
  position: absolute;
  background-color: grey;
  padding: 10px;
  border-radius: 0px 0px 4px 4px;
}

.navbar ul li:hover ul {
  display: block;
}

.navbar ul li ul li {
  width: 180px;
  border-radius: 4px;
}

.navbar ul li ul li a{
  padding: 8px 14px;
}

.navbar ul li ul li a:hover {
  background-color: blue;
}

.search-form{
  align-items: flex-end;
}

.mySlides {
  display: none;
  width: 600px;
  margin-left: 350px;
}


img {
  vertical-align: middle;
}
.slideshow-container {
  max-width: 400px;
  position: relative;
  margin: auto;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.Mission-and-vision{
  background-color: blue;
}

.Mission-and-vision h2{
  font-size: 40px;
  font-weight: bold;
  font-family: cursive;
  text-decoration: underline;
  color: white;
}

.Mission-and-vision p{
  font-size: 20px;
  font-family: cursive;
  color: white;
}

.Mission{
  border: 10px solid white;
  background-color: orange;
  text-align: center;
  margin-top: 10px;
  margin-right: 300px;
  margin-left: 300px;
  padding: 0px 0px 30px 30px;
}

.Vision{
  border: 10px solid white;
  text-align: center;
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 20px;
  padding: 0px 0px 30px 30px;
  background-color: orange;
}
@media(max-width: 768px){
  form{
    padding-left: 240px;
    padding-top: 2px;
    background-color: blue;
    margin-left: 150px;
    margin-right: 150px;
  }

  .social-icons{
    margin-left: -239px;
    margin-right: 330px;
    text-align: left;
    background: grey;
    border-radius: 0px 0px 20px 0px;
    margin-bottom: 10px;
  }
  .social-icons img{
    width: 30px;
    margin: 0 2px;
    margin-bottom: 2px;
    box-shadow: 0 0 20px 0 #7f7f7f3d;
    cursor: pointer;
    border-radius: 50%;

  }
  .Banner img{
    width: 470px;
    height: 100px;
    margin-left: 150px;
  }

  .navbar {
    width: 470px;
    height: 60px;
    background-color: grey;
    margin-left: 150px;
  }

  .navbar ul{
    float: left;
  }

  .navbar ul li{
    float: left;
    list-style: none;
    position: relative;
  }

  .navbar ul li:hover{
    background-color: blue;
  }

  .navbar ul li a {
    display: block;
    font-family: arial;
    color: white;
    font-size: 14px;
    padding: 22px 14px;
    text-decoration: none;
  }

  .navbar ul li ul {
    display: none;
    position: absolute;
    background-color: grey;
    padding: 10px;
    border-radius: 0px 0px 4px 4px;
  }

  .navbar ul li:hover ul {
    display: block;
  }

  .navbar ul li ul li {
    width: 180px;
    border-radius: 4px;
  }

  .navbar ul li ul li a{
    padding: 8px 14px;
  }

  .navbar ul li ul li a:hover {
    background-color: blue;
  }

  .search-form{
    align-items: flex-end;
  }

  .mySlides {
    display: none;
    width: 470px;
    margin-left: 150px;
  }


  img {
    vertical-align: middle;
  }
  .slideshow-container {
    max-width: 400px;
    position: relative;
    margin: auto;
  }

  .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }

  .Mission-and-vision{
    background-color: blue;
  }

  .Mission-and-vision h2{
    font-size: 40px;
    font-weight: bold;
    font-family: cursive;
    text-decoration: underline;
    color: white;
  }

  .Mission-and-vision p{
    font-size: 20px;
    font-family: cursive;
    color: white;
  }

  .Mission{
    border: 10px solid white;
    background-color: orange;
    text-align: center;
    margin-top: 10px;
    margin-right: 150px;
    margin-left: 150px;
    padding: 0px 0px 30px 30px;
  }

  .Vision{
    border: 10px solid white;
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 20px;
    padding: 0px 0px 30px 30px;
    background-color: orange;
  }
}

@media(max-width: 320px){
  form{
    padding-left: 240px;
    padding-top: -10px;
    background-color: blue;
    width: 230px;
    height: 60px;
    margin-left: 40px;
  }

  .social-icons{
    margin-left: -239px;
    margin-right: 370px;
    text-align: left;
    background: grey;
    border-radius: 0px 0px 20px 0px;
    margin-bottom: 10px;
  }
  .social-icons img{
    width: 20px;
    margin: 0 2px;
    margin-bottom: 2px;
    box-shadow: 0 0 20px 0 #7f7f7f3d;
    cursor: pointer;
    border-radius: 50%;

  }
  .Banner img{
    width: 400px;
    height: 110px;
    margin-left: 70px;
  }

  .navbar {
    width: 400px;
    height: 60px;
    background-color: grey;
    margin-left: 70px;
  }

  .navbar ul{
    float: left;
  }

  .navbar ul li{
    float: left;
    list-style: none;
    position: relative;
  }

  .navbar ul li:hover{
    background-color: blue;
  }

  .navbar ul li a {
    display: block;
    font-family: arial;
    color: white;
    font-size: 12px;
    padding: 19px 10px;
    text-decoration: none;
  }

  .navbar ul li ul {
    display: none;
    position: absolute;
    background-color: grey;
    padding: 10px;
    border-radius: 0px 0px 4px 4px;
  }

  .navbar ul li:hover ul {
    display: block;
  }

  .navbar ul li ul li {
    width: 180px;
    border-radius: 4px;
  }

  .navbar ul li ul li a{
    padding: 8px 14px;
  }

  .navbar ul li ul li a:hover {
    background-color: blue;
  }

  .search-form{
    align-items: flex-end;
  }

  .mySlides {
    display: none;
    width: 400px;
    margin-left: 70px;
  }


  img {
    vertical-align: middle;
  }
  .slideshow-container {
    max-width: 400px;
    position: relative;
    margin: auto;
  }

  .dot {
    height: 15px;
    width: 15px;
    margin: 0 3px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }

  .Mission-and-vision{
    background-color: blue;
    margin-right: -230px;
  }

  .Mission-and-vision h2{
    font-size: 30px;
    font-weight: bold;
    font-family: cursive;
    text-decoration: underline;
    color: white;
  }

  .Mission-and-vision p{
    font-size: 20px;
    font-family: cursive;
    color: white;
  }

  .Mission{
    border: 10px solid white;
    background-color: orange;
    text-align: center;
    margin-top: 10px;
    margin-right: 50px;
    margin-left: 50px;
    padding: 0px 0px 30px 30px;
  }

  .Vision{
    border: 10px solid white;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    padding: 0px 0px 30px 30px;
    background-color: orange;
  }
}
